<form class="" action="/vitamins/:id" method="post">
  <input id="hidden" type="hidden" name="_method" value="patch">
  <p>Edit Vitamins:</p>
  <textarea name="contents" rows="8" cols="80" value="<%= @vitamin.contents %>"></textarea>
</form>
