<h1>Write Down A New Vitamin Set:</h1>
<form class="" action="/vitamins" method="post">
  <p>List Vitamins Here:</p>
  <textarea name="contents" rows="8" cols="80"></textarea>
  <input type="submit" name="" value="Create">
</form>
