<form class="" action="/notes/<%= @note.id %>" method="post">
  <input id="hidden" type="hidden" name="_method" value="patch">
  <p>Edit Note:</p>
  <textarea name="content" rows="8" cols="80"><%= @note.content %></textarea>
  <input type="submit" name="" value="Edit">
</form>
