<h1>New Note:</h1>
<form class="" action="/vitamins/<%= @vitamin.id %>" method="post">
  <textarea name="content" rows="8" cols="80"></textarea>
  <input type="submit" name="" value="Post Note">
</form>
