<h2>Log In:</h2>
<form class="" action="/login" method="post">
  <p>Username:</p>
  <input type="text" name="username" value="">
  <p>Password:</p>
  <input type="text" name="password" value="">
  <input type="submit" name="" value="Log In">
</form>
