<h2>Sign up and start tracking your vitamins</h2>
<form class="" action="/signup" method="post">
  <p>Username:</p>
  <input type="text" name="username" value="">
  <p>Password:</p>
  <input type="text" name="password" value="">
  <input type="submit" name="" value="Sign Up">
</form>
